{
	"name": "enableDockerRealm",
	"type": "groovy",
	"content": "import org.sonatype.nexus.security.realm.RealmManager;realmManager = container.lookup(RealmManager.class.getName());realmManager.enableRealm('DockerToken')"
}